<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="icon" href="../assets/icons/logo-pink.png" type="image/x-icon">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="color">
  <header>
    <div class="container">
			<div class="row">
				<div class="col">
					<img src="../assets/images/principal-lyft.png" alt="heart">
				</div>
			</div>  
		</div>
	</header>
	<main class="flex view-principal">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<form action="" class="form-inline">
						<a href="" type="button" class="btn pink btn-lg btn-inline">LOG IN</a>
						<a href="singup.html" type="button" class="btn pink btn-lg btn-inline">SING UP</a>
					</form>
				</div>	
			</div>
		</div>	
	</main>
</body>
</html>