<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="icon" href="../assets/icons/logo-pink.png" type="image/x-icon">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<a href="principal.html" type="button" class="btn pink">
  	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</a>
	<form action="" class="flex form-inline">
		<h1 class="title text-center">Sign up</h1>
		<p class="help-block text-center">Join now for free ride credit</p>
		<div class="form-group">
			<div class="dropdown">
				<button class="btn pink dropdown-toggle" type="button" data-toggle="dropdown">Country
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#"><img src="../assets/images/mexico.png" alt=""></a></li>
					<li><a href="#"><img src="../assets/images/colombia.png" alt=""></a></li>
					<li><a href="#"><img src="../assets/images/peru.jpg" alt=""></a></li>
					<li><a href="#"><img src="../assets/images/eeuu.jpg" alt=""></a></li>
				</ul>
			</div>
			<input type="number" class="form-control" id="numberphone" placeholder="Number">
		</div>
		<div class="form-group">
			<button type="button" class="btn pink btn-lg btn-block">NEXT</button>
		</div>
	</form>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/singup.js"></script>
</body>
</html>